<!DOCTYPE html>
<html>
<head>
    <title>Champions</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>Clasificación</h1>

    <div class="search-box">
        <input type="text" id="searchInput" placeholder="Buscar equipo...">
    </div>

    <table>
        <tr>
            <th>#</th>
            <th>Equipo</th>
            <th>PJ</th>
            <th>PG</th>
            <th>PE</th>
            <th>PP</th>
            <th>GF</th>
            <th>GC</th>
            <th>DG</th>
            <th>Pts</th>
        </tr>

       {% for team in teams %} 
       <tr class="team-row">
            <td>{{ loop.index }}</td>
            <td>
               <a href="/team/{{ team.id }}" class="team-link">
                <img src="/static/logos/{{ team.logo }}" alt="{{ team.name }} logo" class="team-logo">
                <span>{{ team.name }}</span>
                </a>
            </td>
            <td>{{ team.pj }}</td>
            <td>{{ team.pg }}</td>
            <td>{{ team.pe }}</td>
            <td>{{ team.pp }}</td>
            <td>{{ team.gf }}</td>
            <td>{{ team.ga }}</td>
            <td>{{ team.gf - team.ga }}</td>
            <td>{{ team.points }}</td>
       </tr>
       {% endfor %}
    </table>

<script>
    const searchInput = document.getElementById("searchInput");
    const rows = document.querySelectorAll(".team-row");

    searchInput.addEventListener("input", function () {
        const searchText = searchInput.value.toLowerCase();

        rows.forEach(function (row) {
            const teamName = row.querySelector(".team-link span").textContent.toLowerCase();

            if (teamName.includes(searchText)) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    });
</script>

</body>
</html>